/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

/* Google Fonts */

.bungee-regular {
	font-family: "Bungee", sans-serif;
	font-weight: 400;
	font-style: normal;
  }

  .bungee-inline-regular {
	font-family: "Bungee Inline", sans-serif;
	font-weight: 400;
	font-style: normal;
  }

  				/* font-weight for oswald can range from 200 to 700 */
.oswald-regular {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
  }

  .oswald-light {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
  }
  
  					/* font-weight for montserrat can range from 100 to 900 */
.montserrat-regular {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
  }

/* Changing the main font and background colour */

body {
	font-family: Montserrat, sans-serif;
	background-color: #fffcf8;
}

/* Changing the background colour for the header */

header {
	background-color: #00BAE0 ;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #F0AC5E ;
	min-height: 80px;
	position: relative;
    z-index: 3;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}

h1 {
	font-family: "Bungee", sans-serif;
	font-weight: 400;
	font-style: normal;
}

h2 {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}

h3 {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}

h4 {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: bold;
	font-size: larger;
}

li {
	font-family: Montserrat, sans-serif;
}

header {
	position: relative;
	background-color: rgb(0, 0, 0);
	height: 75vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
  }
  
  header video {
	position: absolute;
	left: 52%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
	position: relative;
	z-index: 2;
  }
  
  header .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
  }
  
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
  @media (pointer: coarse) and (hover: none) {
	header {
	  background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
	}
  
	header video {
	  display: none;
	}
  }

  /* Rodney CSS */
	.navbar-brand {
	margin-right: -1%;
	}

	.home-logo {
		position: absolute;
	}
	
.title-button {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	position: absolute;
	bottom: 10%;
	text-align: center;
}

.footer {
	background-color: #F0AC5E ;
	padding: 30px; 
}

	.footer .footer-site-logo {
	  text-align: center;
	  font-size: 2rem;
	  font-weight: 900; }
	  .footer .footer-site-logo a {
		color: #4200ff; }
	.footer .nav-links {
	  padding: 0;
	  margin: 0; }
	  .footer .nav-links li {
		display: inline-block; }
		.footer .nav-links li a {
		  padding: 10px;
		  color: #000; }
		  .footer .nav-links li a:hover {
			color: #4200ff; }

	.footer .social-links {
		width: 50px;
		margin: 5px;
		}

.btn-primary {
	background-color: #1C14EF  !important ;
	border-color: #1C14EF  !important ;
}

.landing-page-font {
	font-size: larger;
}



  /* Sanna CSS */

.faqborder {
	margin-top: 40px;
		
}
.faqborder2 {
	padding-bottom: 40px;
}
.accordion-button {
	min-height: 60px
}



  /* Wessel CSS */

.ourgoal-header {
  position: relative;
  min-height: 35rem;
  width: 100%;
  overflow: hidden;
  padding-top: 80px;
  z-index: 0;
}

.ourgoal-header video {
  position: absolute;
  left: 50%;
  top: 40%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
}

header .overlay-blacker {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.6;
	z-index: 1;
  }

.ourgoal-logo {
	margin-top: -12rem;
}

.ourgoal-title-header {
	font-family: "Bungee Inline", sans-serif;
	font-size: 100px;
	font-style: normal;
	color: #fffcf8;
	position: absolute;
	top: 30%;
	text-align: center;
}

.subtitle-header {
	max-width: 1000px;
	font-family: "Oswald", sans-serif;
	font-size: 1.5rem;
	font-weight: 300;
	font-style: normal;
	color: #fffcf8;
	position: absolute;
	top: 53%;
	text-align: center;
}

.left-aligned-centered {
	max-width: 750px;
	font-family: "Montserrat", sans-serif;
	text-align: left;
	margin: 0 auto;
	
}

.who-title {
  padding: 0 1rem;
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
  font-family: "Bungee", sans-serif;
}

/* mobile fixes */
@media (max-width: 576px) {

  /* 1. Navbar above header fix */
  .navbar {
    position: absolute;
    z-index: 1055;
	width: 100%;
    background-color: #F0AC5E;
	min-height: unset;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
	overflow: hidden;
  }

	.navbar-brand img {
    max-height: 100px;
    width: auto;
  }

	.navbar-brand {
    margin: 0 !important;
    padding: 0 !important;
  }
	
  /* 2. Button fix: */
  .title-button {
    position: static;
    margin-top: 345px;
    text-align: center;
  }

  /* 3. Header text fix*/
  .ourgoal-title-header {
    top: 40%;
    font-size: 1.6rem;
  }

  .subtitle-header {
    top: 52%;
    font-size: 1.05rem;
    padding: 0 1rem;
  }

  /* 4. text fix */
  .left-aligned-centered {
    padding: 0 1rem;
  }

	/* 5. header fix */
.ourgoal-header {
  position: relative;
  height: 75vh;
  min-height: 20rem;
  width: 100%;
  overflow: hidden;
  padding-top: 80px;
  z-index: 0;
}

.ourgoal-header video {
    object-fit: cover;
    width: 200vw;
    height: 100vh;
    position: absolute;
    top: -70%;
    left: -50%;
    transform: scale(50%);
}

header .overlay-blacker {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.6;
	z-index: 1;
  }

.home-logo {
	margin-top: 6rem;
}

.ourgoal-title-header {
	font-family: "Bungee Inline", sans-serif;
	font-weight: 500;
	font-style: normal;
	color: #fffcf8;
	position: absolute;
	top: 26%;
	text-align: center;
}

.subtitle-header {
	max-width: 1000px;
	font-family: "Oswald", sans-serif;
	font-size: 1.5rem;
	font-weight: 300;
	font-style: normal;
	color: #fffcf8;
	position: absolute;
	top: 46%;
	text-align: center;
}	
.clean-header {
padding-top: 110px;
}

.corp-banner{
 height: 300px;
 width: 150%;
 object-fit: cover;
 object-position: center center;
}

.persona{
	  width: 100%;
  height: auto;
  max-width: 100%;
}

}
/* card flip */
.flip-card {
  width: 320px;
  height: 320px;
  flex-shrink: 0;
}

.d-flex.gap-4 {
  row-gap: 2rem; /* extra spacing between rows if screen is to small */
}

.flip-card-inner {
  	position: relative;
  	width: 100%;
  	height: 100%;
  	text-align: center;
  	transition: transform 0.6s;
  	transform-style: preserve-3d;
  	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  	transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
}

.flip-card-front {
  	background-color: #bbb;
  	color: black;
}

.flip-card-back {
  	background-color: #F0AC5E;
  	color: white;
  	transform: rotateY(180deg);
	  padding: 1rem;
  box-sizing: border-box;
}

.flip-card-back p {
  font-size: 1rem; /* iets kleiner dan standaard */
  line-height: 1.4;
}




  /* Yasmijn CSS */

.border-info {
	font-family: "Bungee Inline", sans-serif;
	font-weight: 500;
	font-style: normal;
	color: #000000;
}

.info-paragraph {
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #000000;
}

.btn {
    background-color: #1C14EF;
	font-family: "Oswald", sans-serif;
}

.carousel-item img {
    height: 600px;
    object-fit: cover;
}

.carousel-caption {
  color: #FFFFFF;
  background-color: rgba(0, 186, 224, 0.5);
  border-radius: 12px;                     
  padding: 1rem 1.5rem;                    
  max-width: 70%;                          
  margin: 0 auto;                          
}


.accordion-button {
  background-color: white;
  color: black; 
  font-family: "Oswald", sans-serif;
  border: 1px solid #00BAE0; 
	font-size: 20px;
}

.accordion-button:hover {
  background-color: #00BAE0;
  color: white; 
  border-color: #00BAE0;
}


.accordion-button:focus, 
.accordion-button:active {
  background-color: #00BAE0;
  color: white; 
  border-color: #00BAE0;
}

.accordion-button:not(.collapsed) {
  background-color: #00BAE0;
  color: white;
  border-color: #00BAE0;
}

.accordion-body {
  font-family: "Oswald", sans-serif;
  font-size: 15px; 
  line-height: 1.6;
}

.accordion-body-two {
  font-family: "Oswald", sans-serif;
  font-size: 20px; 
  line-height: 1.6;
    padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.blockquote-footer {
  font-family: "Montserrat", sans-serif;
  font-size: 15px; 
  color: #6c757d;
  display: block;      
  margin-top: 0.3rem;  
}




