/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

/* Google Fonts */

.bungee-regular {
	font-family: "Bungee", sans-serif;
	font-weight: 400;
	font-style: normal;
  }

  .bungee-inline-regular {
	font-family: "Bungee Inline", sans-serif;
	font-weight: 400;
	font-style: normal;
  }

  				/* font-weight for oswald can range from 200 to 700 */
.oswald-regular {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
  }

  .oswald-light {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
  }
  
  					/* font-weight for montserrat can range from 100 to 900 */
.montserrat-regular {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
  }

/* Changing the main font and background colour */

body {
	font-family: Montserrat, sans-serif;
	background-color: #fffcf8;
}

/* Changing the background colour for the header */

header {
	background-color: #00BAE0 ;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #00BAE0;
	min-height: 80px;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}

h1 {
	font-family: Bungee, sans-serif;
	font-size: 2.5em;
}

h5 {
	font-family: Oswald, sans-serif;
	font-size: 2em;
}

li {
	font-family: Oswald, sans-serif;
	font-size: 1.5em;
}

header {
	position: relative;
	background-color: rgb(0, 0, 0);
	height: 75vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
  }
  
  header video {
	position: absolute;
	top: 50%;
	left: 52%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
	position: relative;
	z-index: 2;
  }
  
  header .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
  }
  
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
  @media (pointer: coarse) and (hover: none) {
	header {
	  background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
	}
  
	header video {
	  display: none;
	}
  }

  /* Rodney CSS */
.navbar-brand {
margin-top: 10px;
margin-right: -1%;
}
.title-header {
	font-family: "Bungee Inline", sans-serif;
	font-weight: 500;
	font-style: normal;
	color: #fffcf8;
	position: absolute;
	top: 70%;
	text-align: center;
}

.title-button {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	position: absolute;
	bottom: 7%;
	text-align: center;
}

.footer {
	background-color: #00BAE0;
}







































  /* Sanna CSS */


















































  /* Wessel CSS */
















































  /* Yasmijn CSS */
  